/* Đặt font chữ và màu sắc tổng thể */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fff;
    background: -webkit-linear-gradient(45deg, #ffcc33, #ff66cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 50px 0;
}

ul li a {
    text-decoration: none;~
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #ff66cc;
    color: white;
    border-radius: 25px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

ul li a:hover {
    background-color: #ffcc33;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* Hiệu ứng responsive */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    ul li a {
        font-size: 1.2rem;
        padding: 8px 16px;
    }
}
